<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::body})}">
<body>

<h1>Beérkezett üzenetek</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Név</th>
        <th>Üzenet</th>
        <th>Dátum</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="uzenet : ${uzenetek}">
        <td th:text="${uzenet.id}"></td>
        <td th:text="${uzenet.nev}"></td>
        <td th:text="${uzenet.szoveg}"></td>
        <td th:text="${uzenet.datum}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
